*{
	padding: 0;
	margin: 0;
}

$font: "font-family: 'Open Sans', sans-serif;";

%section-top{
	padding: 48px 0 43px 0;
	text-align:center;
	img{
		padding-bottom: 16px;
	}
	h2{
		font-size: 20px;
		color: #30373b;
		text-transform: uppercase;
		font-weight:bold;
	}
}


@mixin content($color) {
	background: $color;
	.bancanbiet-title{
		@extend %section-top;
	}

	.bancanbiet-noidung{
		padding-bottom: 28px;
		.card-title{
			font-size: 24px;
			color: #30373b;
		}
		.card-block{
			padding: 52px 25px 8px 25px;
			display:block;
			.hr-decoration{
				width: 100%;
				height: 1px;
				border-bottom: 1px solid #ff6c6f;
				margin-top: 6px;
			}
			.card-text{
				padding-top: 17px;
			}
			.date{
				float:right;
				border-left:1px solid #ff6c6f;
				padding-left:6px;
				margin-top:28px;
			}
		}
	}
	.bancanbiet-xemthem{
		text-transform: uppercase;
		font-weight:bold;
		padding: 42px 0 71px 0;
		text-align:center;
	}

}

$XS: 480px;   
$SM: 768px;  
$MD: 1024px;   
$XL: 1200px;     

@mixin responsive($canvas) {
  @if $canvas == XS {
   @media only screen and (min-width: $XS) { @content; } 
  }
  @else if $canvas == SM {
   @media only screen and (min-width: $SM) { @content; } 
  }
  @else if $canvas == MD {
   @media only screen and (min-width: $MD) { @content; } 
  }
  @else if $canvas == XL {
   @media only screen and (max-width: $XL) { @content; } 
  }
}

body{
	font-family: $font;
}

.wrapper{
	header{
		width:100%;
		height: 100%;
		.header-top{
			width: 30%;
			float: left;
			margin-right: 5%;
			@include responsive(XL){
				width: 80%;
				float: left;
				margin-right: 0;
				padding-left: 15px;
			}
			ul{
				list-style-type:none;
				padding: 0;
				margin: 0; 
				li{
					float:left;
					a{
						font-size: 14px;
						display: block;
						color: #3f3f3f;
						padding: 49px 25px 36px 0;
						text-decoration: none;
					}
				}
			}
		}
		.header-banner{
			width: 30%;
			height: 100px;
			float: left;
			margin-right: 5%;
			box-sizing: border-box;
			position: relative;
			@include responsive(XL){
				float: left;
				width: 20%;
				margin-right: 0px;
			}
			img.logo{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				@include responsive(XL){
					width: 45px;
					height: 45px;
				}
			}
		}

		.header-bottom{
			width: 30%;
			float: left;
			@include responsive(XL){
				width: 100%;
				margin-bottom:28px;
			}
			.section-box{
				display: inline-block;
				float: right;
				margin-top: 29px;
				@include responsive(XL){
					display: block;
					float: none;
					margin:auto;
					text-align: center;
				}
				a{
					text-decoration: none;
					color: #3f3f3f;
				}
				img{
					padding-left: 15px;	
				}
			}
		}
		
	}

	// End CSS HEADER

	.banner{
		.carousel-inner{
			.carousel-item{
				.carousel-caption.textslide{
					bottom: 205px;
					h3{
						font-size:45px;
					}
					p{
						width:133px;
						height:42px;
						display:block;
						border:1px solid white;
						text-align:center;
						line-height:42px;
						margin:auto;
					}
				}
			}
		}
	}

	section.topBlogger{
		background:#edecec;
		@extend %section-top;
		.slideblogger{
			margin-top:52px;
			.person{
				width:16.6%;
				float:left;
				box-sizing:border-box;
				padding-left:27px;
				padding-right:27px;
				img{
					width:100%;
				}
			}
			a.carousel-control-prev{
				left:-90px;
			}
			a.carousel-control-next{
				right:-90px;
			}
		}
		
	}

	section.bancanbiet{
		@include content(#e5e5e5);
	}

	section.review{
		@include content(#edecec);
	}

	section.connect{
		@extend %section-top;
		background:#e5e5e5;
		.connect-bottom{
			text-align:center;
			padding-top:56px;
			ul{
				list-style-type:none;
				padding:0;
				margin-top:55px 0 62px 0;
				display: inline-block;
				*display: inline;
				text-align:center;
				li{
					float:left;
					a{
						margin-right: 24px;
						margin-left: 24px;
						text-align: center;

					}
				}
			}
		}
	}

	section.company{
		@extend %section-top;
		background: #edecec;
		.slidecompany{
			margin-top:72px;
			.imgcompany{
				width:168px;
				float:left;	
				box-sizing: border-box;
				padding-left:10px;
				padding-right:10px;
				img{
					width:100%;
				}
				&:first-child{
					margin-left:0px !important;
				}
				&:last-child{
					margin-right:0px !important;
				}
			}
			a.carousel-control-next{
				position: absolute;
				right: -86px;
				top: -10px;
				color: #90a4ae;
			}
			a.carousel-control-prev{
				position: absolute;
				left: -86px;
				top: -10px;
				color: #90a4ae;
			}
		}

		
	}

	footer{
		background: #e5e5e5;
		.footer-top{
			text-align:center;
			ul{
				list-style-type:none;
				padding-top:53px;
				
				display: inline-block;
				*display: inline;
				text-align:center;
				li{
					float:left;
					a{
						padding-right:60px;
						font-size:14px;
						color: #010101;
						text-decoration: none;
						font-weight:bold;
					}
				}
			}
		}
	}
	.clear-fix{
		clear:both;
		border-bottom: 1px solid #d0d0d0;
		opacity:0.8;
		padding-top: 22px;
	}
	.footer-bottom{
		padding: 20px 0 145px 0;
		display:block;
		text-align:center;
	}
}

